html {
  height: 100%;
  width: 100%;
}
body {
  text-align: left;
  font-family: Calibri, Times, serif;
  font-size: 150%;
  background: #f5d9c7;
  color: #ff000d;
}
img {
  height: 200px;
  width: 300px;
}