html {
  height: 100%;
  width: 100%;
}
body {
  font-size: 150%;
  text-align: left;
  font-family: Calibri, Times, serif;
  background: #FCBF49;
  color: #003049;
}
img {
  height: 500px;
  width: 800px;
}
head {
  text-align: top;
}